* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.table {
    border: 1px solid #8a8a8a;
    border-collapse:collapse;
}

.table-head {
    background-color: rgb(206, 250, 235);
}
.table-item {
    min-width: 200px;
    padding: 5px;
    text-align: center;
    border: 1px solid #8a8a8a;
}


.table-sort {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   padding-top: 3px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(153, 211, 153);
    cursor: pointer;
    transition: .1s;
}

.table-sort:hover {
    background-color: rgb(65, 156, 65);
}

.sort {
    background-color: #fff;
}
.decrease {
    padding-top: 7px;
    margin-left: 15px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(153, 211, 153);
    padding: 10px 20px;
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    transition: .1s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(65, 156, 65);
}

.hidden {
    display: none;
}